@use '../_variables' as v;

.timer {
  padding: 16px;
  background-color: rgb(240, 242, 245);
  min-height: 120px;
  max-width: 400px;
  box-shadow: 3px 3px 8px -3px #999192;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

  &.timer-running {
    background-color: v.$green-3;
  }
}

.timer-duration {
  .timer-duration-colon {
    display: inline-block;
  }
}

.task-select-dropdown {
  width: 100%;
}
