/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.DS_Store
.idea/
*.iml
.shadow-cljs
node_modules
resources/public/css
resources/public/js
config/*.secrets.edn
*~
\#*\#
.\#*
.clj-kondo/.cache
shell.nix

yarn-error.log