.org-select-dropdown {
  .org-name {
    font-size: 32px;
    max-width: 108px;
    max-height: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.org-select-menu {

  .org-select-menu-item {
    max-width: 150px;
    max-height: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
