{:db-connection-string "jdbc:postgresql://localhost:5432/chronograph_ci?user=chronograph_ci_user&password=chronograph_ci_pwd"
 :oauth                {:google {:redirect-uri   "http://localhost:8000/google-oauth2-redirect"
                                 :response-type  "code"
                                 :login-endpoint "https://accounts.google.com/o/oauth2/v2/auth"
                                 :token-endpoint "https://oauth2.googleapis.com/token"
                                 :client-id      "test-client-id"
                                 :client-secret  "test-client-secret"
                                 :scope          "test scopes"}}
 :auth                 {:token-signing-key       "your-signing-key-here"
                        :token-expiry-in-seconds 3600}
 :app-log-level        "debug"
 :port                 8000}
